[submodule "LED Controller/Libraries/ESP32_I2C_Slave"]
	path = LED Controller/Libraries/ESP32_I2C_Slave
	url = https://github.com/degnarraer/ESP32_I2C_Slave.git
	branch = master
[submodule "LED Controller/Libraries/AsyncTCP"]
	path = LED Controller/Libraries/AsyncTCP
	url = https://github.com/degnarraer/AsyncTCP.git
	branch = master
[submodule "LED Controller/Libraries/CircularBuffer"]
	path = LED Controller/Libraries/CircularBuffer
	url = https://github.com/degnarraer/CircularBuffer.git
	branch = master
[submodule "LED Controller/Libraries/LinkedList"]
	path = LED Controller/Libraries/LinkedList
	url = https://github.com/degnarraer/LinkedList.git
	branch = master
[submodule "LED Controller/Libraries/circle_buf"]
	path = LED Controller/Libraries/circle_buf
	url = https://github.com/degnarraer/circle_buf.git
	branch = main
[submodule "LED Controller/Libraries/Streaming"]
	path = LED Controller/Libraries/Streaming
	url = https://github.com/degnarraer/Streaming.git
	branch = master
[submodule "LED Controller/Libraries/ESP32DMASPI"]
	path = LED Controller/Libraries/ESP32DMASPI
	url = https://github.com/degnarraer/ESP32DMASPI.git
	branch = master
[submodule "LED Controller/Libraries/ESPAsyncWebServer"]
	path = LED Controller/Libraries/ESPAsyncWebServer
	url = https://github.com/degnarraer/ESPAsyncWebServer.git
	branch = Merge_Fixes
[submodule "LED Controller/Libraries/ESP32-A2DP"]
	path = LED Controller/Libraries/ESP32-A2DP
	url = https://github.com/pschatzmann/ESP32-A2DP.git
	branch = main
