[submodule "libraries/ESP32-A2DP"]
	path = libraries/ESP32-A2DP
	url = https://github.com/degnarraer/ESP32-A2DP.git
	branch = main
[submodule "libraries/ESP32_I2C_Slave"]
	path = libraries/ESP32_I2C_Slave
	url = https://github.com/degnarraer/ESP32_I2C_Slave.git
	branch = master
[submodule "libraries/AsyncTCP"]
	path = libraries/AsyncTCP
	url = https://github.com/degnarraer/AsyncTCP.git
	branch = master
[submodule "libraries/CircularBuffer"]
	path = libraries/CircularBuffer
	url = https://github.com/degnarraer/CircularBuffer.git
	branch = master
[submodule "libraries/LinkedList"]
	path = libraries/LinkedList
	url = https://github.com/degnarraer/LinkedList.git
	branch = master
[submodule "libraries/circle_buf"]
	path = libraries/circle_buf
	url = https://github.com/degnarraer/circle_buf.git
	branch = main
[submodule "libraries/Streaming"]
	path = libraries/Streaming
	url = https://github.com/degnarraer/Streaming.git
	branch = master
[submodule "libraries/ESP32DMASPI"]
	path = libraries/ESP32DMASPI
	url = https://github.com/degnarraer/ESP32DMASPI.git
	branch = master
[submodule "libraries/ESPAsyncWebServer"]
	path = libraries/ESPAsyncWebServer
	url = https://github.com/degnarraer/ESPAsyncWebServer.git
	branch = Merge_Fixes
