html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

h1 {
    font-size: 1.2rem;
    color: White;
}

p {
    font-size: 1.0rem;
}

.MainScreen {
	width: 100%;
	height: 100%;
}

.TabMenu {
	height: 100%;
	width: 20%;
	background-color: LightGray;
}

.TabMenu button {
	float: right;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 1s;
	font-size: 10px;
	height: 50px;
	width: 100px;
}

.TabMenu button:hover {
	background-color: Yellow;
}

.TabMenu button.active {
	background-color: #ccc;
}

.TabContent {
	width: 100%;
	height: 100%;
	/*border: 2px dashed red;*/
}

.TabHeader {
    overflow: hidden;
    background-color: Black;
	/*border: 2px dashed green;*/
}

body {
    margin: 0;
}

.Content {
    float: left;
	/*border: 2px dashed black;*/
}

.Card-Grid-Vertical {
    box-sizing: border-box;
	display: grid;
	align-content: center;
	vertical-align: middle;
	grid-template-rows: auto auto auto;
	border: 2px dashed lime;
}

.Card-Grid-Horrizontal {
	box-sizing: border-box;
	display: grid;
	align-content: center;
	vertical-align: middle;
	grid-template-columns: auto auto auto;
	/*border: 2px dashed purple;*/
}

.Slider-Grid-Horrizontal {
	box-sizing: border-box;
	width: 100%;
	display: grid;
	align-content: center;
	vertical-align: middle;
	grid-template-columns: 100px minmax(10%, 100%) auto;
	/*border: 2px dashed blue;*/
}

.SettingGroup {
    box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 50px;
	background-color: Pink;
    box-shadow: 2px 2px 12px 1px rgba(100,100,100,.5);
	border: 2px dashed orange;
}

.SettingGroup-Title {
    box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: right;
    font-size: 0.8rem;
    font-weight: bold;
    color: Black;
	/*border: 2px dashed brown;*/
}

.SettingGroup-Value {
    box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
    font-size: 1rem;
    color:Black;
	/*border: 2px dashed aqua;*/
}
  
.SettingGroup-SliderContainer {
    -webkit-appearance: none;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-size: 100% 100%
    position: relative;
	/*border: 2px dashed yellow;*/
}

.SettingGroup-Slider{
	width: 100%;
}
