html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

h1 {
    font-size: 1.2rem;
    color: White;
}

p {
    font-size: 1.0rem;
}

.MainScreen {
	width: 100%;
	height: 100%;
}

.ContentArea {	
  transition: margin-left .5s;
  padding: 20px;
}

/* The side navigation menu */
.LeftSideNavigationMenu {
  position: absolute;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.LeftSideNavigationMenu.CloseButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The navigation menu links */
.LeftSideNavigationMenu a {
  float: right;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

/* The navigation menu buttons */
.LeftSideNavigationMenu button {
	width: 250px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.5s;
	text-align: right;
	float: right;
}

.LeftSideNavigationMenu button:hover {
	background-color: Yellow;
	color: black;
}

.LeftSideNavigationMenu button.active {
	background-color: #2196F3;
	color: white;
}

.TabHeader {
    overflow: hidden;
    background-color: Black;
	/*border: 2px dashed green;*/
}

.TabHeader button {
	padding: 10px 10px 10px 10px;
    float: left;
	width: 50;
	height: 50;
}
.TabHeader button:hover {
	background-color: Yellow;
}

.TabHeader button img{
	width: 42px;
	height: 42px;
}

.TabHeader h1 {
	padding: 0px 0px 0px 0px;
	vertical-align: center;
}

.TabContent {
	width: 100%;
	height: 100%;
	/*border: 2px dashed red;*/
}

body {
    margin: 0;
}

.Content {
    float: left;
	/*border: 2px dashed black;*/
}

.SettingGroup {
    box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 50px;
	background-color: Pink;
    box-shadow: 2px 2px 12px 1px rgba(100,100,100,.5);
	border: 2px dashed orange;
}

.SettingGroup_Horrizontal_Grid_Slider {
	box-sizing: border-box;
	width: 100%;
	align-content: center;
	vertical-align: middle;
	display: grid;
	grid-template-columns: 200px minmax(20%, 80%) auto;
}

.SettingGroup_Horrizontal_Grid_Toggle {
	box-sizing: border-box;
	width: 100%;
	align-content: center;
	vertical-align: middle;
	display: grid;
	grid-template-columns: auto 100px;
	/*border: 2px dashed blue;*/
}

.SettingGroup_Title {
    box-sizing: border-box;
	display: flex;
	justify-content: right;
	align-items: center;
    font-size: 1.5rem;
	border: 2px dashed black;
}
  
.SettingGroup_Widget {
    box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px dashed yellow;
}

.SettingGroup_Value {
    box-sizing: border-box;
	display: flex;
	justify-content: left;
	align-items: center;
	border: 2px dashed black;
    font-size: 2rem;
    font-weight: bold;
    color: Black;
	border: 2px dashed aqua;
}

.Widget_Slider{
	box-sizing: border-box;
	width: 100%;
}

.Widget_Toggle_Switch {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.Widget_Toggle_Switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .Slider {
  background-color: #2196F3;
}

input:focus + .Slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .Slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.Slider.Round {
  border-radius: 34px;
}

.Slider.Round:before {
  border-radius: 50%;
}