html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

h1 {
    font-size: 1.2rem;
    color: White;
}

p {
    font-size: 1.0rem;
}

.mainScreen {
	width: 100%;
	height: 100%;
}

.mainContentArea {	
  transition: margin-left .5s;
}

.modal {
    display: block; /* Hidden by default, but we'll control this with JS */
    position: fixed;
    z-index: 1000; /* Sit on top of everything else */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingPage {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
    justify-content: center;
    align-items: center; /* Center horizontally and vertically */
}

/* Modal Content */
#loadingModal .modal-content {
    width: 200px; /* Set square width */
    height: 200px; /* Set square height */
    background-color: white; /* Modal background color */
    border-radius: 15px; /* Rounded corners */
    border: 2px solid #4CAF50; /* Outline with green color */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Modal Header Text */
#loadingModal .modal-content h2 {
    margin: 0; /* Remove default margin */
    font-size: 1.2em; /* Adjust text size */
    color: #333; /* Text color */
}

/* The side navigation menu */
.leftSideNavigationMenu {
  position: absolute;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.leftSideNavigationMenu.CloseButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The navigation menu links */
.leftSideNavigationMenu a {
  float: right;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

/* The navigation menu buttons */
.leftSideNavigationMenu button {
	width: 250px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.5s;
	text-align: right;
	float: right;
}

.leftSideNavigationMenu button:hover {
	background-color: Yellow;
	color: black;
}

.leftSideNavigationMenu button.active {
	background-color: #2196F3;
	color: white;
}

.Tablinks {
	display: flex;
	align-items: right;
	justify-content: flex-start;
	cursor: pointer;
	border: none;
	background-color: #f1f1f1;
	width: 100%;
    height: 100px;
}

.Tablinks img {
	width: 80px !important;
	height: 80px !important;
	object-fit: contain;
}

.mainMenu {
    overflow: hidden;
    background-color: Black;
}

.mainMenu button {
    float: left;
	width: 50;
	height: 50;
}
.mainMenu button:hover {
	background-color: Yellow;
}

.mainMenu button img{
	width: 50px;
	height: 50px;
}

.mainMenu h1 {
	vertical-align: center;
}

.menu-content {
	display: none;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.menu-content.active {
	display: block;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.screen-content {
	display: none;
}

.screen-content.active {
	display: block;
}

body {
    margin: 0;
}

#deviceList {
	list-style: none;
	max-height: 300px; /* Set the maximum height for the scroll bar */
	overflow-y: auto; /* Add a vertical scroll bar if needed */
}

.deviceItem {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.deviceItem:hover {
	background-color: #f0f0f0; /* Highlight on hover */
}

.selected {
	background-color: #a6e1fa; /* Highlight for selected item */
}

.Content {
    float: left;
}

.spin-image {
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }

/*Selection Tabs*/
.selection_tabs {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #333;
	color: white;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.selection_tab {
	cursor: pointer;
	border: none;
	background-color: #555;
	color: white;
	transition: background-color 0.3s ease;
}

.selection_tab:hover {
	background-color: #777;
}

.selection_tab.active {
	background-color: #4CAF50; /* Lighter blue for the selected tab */
}

.selection_tab_content_input_source {
	display: none;
	border: 1px solid #ccc;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.selection_tab_content_input_source.active {
	display: block;
}

.selection_tab_content_output_source {
	display: none;
	border: 1px solid #ccc;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.selection_tab_content_output_source.active {
	display: block;
}

.non-pressable-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc; /* Button-like background */
    border-radius: 5px;
    border: 1px solid #999; /* Button-like border */
    color: #333; /* Text color */
    font-weight: bold;
    cursor: default; /* Cursor should not be a pointer */
}

.non-pressable-button img {
    margin-left: 10px;
}

.non-pressable-button span {
    font-size: 12px;
}

/* Individual frame styling */
.frame {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc; /* Light gray border around each frame */
    flex: 1; /* Divide the container equally among frames */
    box-sizing: border-box;
    background-color: #f9f9f9; /* Light background for frames */
    border-radius: 8px; /* Rounded corners for frames */
    margin: 10px; /* Space between frames */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for the frames */
}

/* Header styling for each frame */
.frame header {
    background-color: #333; /* Green background for header */
    font-size: 1.5em; /* Larger font for the header text */
    font-weight: bold; /* Bold text */
    color: white; /* White text for contrast */
    text-align: center; /* Center the header text */
    border-bottom: 2px solid #333; /* Darker border below the header */
    border-radius: 8px 8px 0 0; /* Rounded top corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for header */
}

/* Content inside each frame */
.frame .content {
    flex: 1; /* Content takes up the remaining space in the frame */
    overflow: auto; /* Add scroll if content overflows */
    font-size: 1.2em; /* Slightly larger font for content */
    color: #333; /* Darker color for content text */
    background-color: #fff; /* White background for content */
    border-radius: 0 0 20px 20px; /* Rounded bottom corners for content area */
}

.settingGroup {
	display: flex;
	align-items: flex-end;
	height: auto;
    border-radius: 0 0 20px 20px;
}

.settingGroup_2_Column {
	display: grid;
	width: 100%;
	vertical-align: middle;
	grid-template-columns: auto 100px;
}

.settingGroup_3_Column {
	display: grid;
	width: 100%;
	vertical-align: middle;
	grid-template-columns: auto 200px 100px;
}

.settingGroup_Horrizontal_Grid_Radio_Button {
	display: flex;
	width: 100%;
	align-content: right;
	justify-content: right;
	vertical-align: middle;
	grid-template-columns: auto 200px;
}

.settingGroup_Horrizontal_Grid_Status {
	display: flex;
	width: 100%;
	align-content: center;
	vertical-align: middle;
	grid-template-columns: auto 200px;
}

.settingGroup_Title {
	display: flex;
	justify-content: right;
	align-items: center;
    font-size: 1.5rem;
	border: 2px solid #333;
	padding: 10px;
	margin: -1px;
}

.settingGroup_Widget {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #333;
	margin: -1px;
}

.settingGroup_Button {
	display: grid;
	justify-content: center;
	align-items: center;
	border: 2px solid #333;
	margin: -1px;
}

.settingGroup_Textbox {
	display: flex;
    width: 100%;
	justify-content: center;
	align-items: center;
	align-items: center;
	border: 2px solid #333;
	margin: -1px;
}
	
.settingGroup_Value {
	display: flex;
	justify-content: left;
	align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: Black;
	border: 2px solid #333;
	margin: -1px;
}

/*Test Boxes */
#Source_SSID_Text_Box {
	width: 100%; /* make the text box fill the width of its container */
	/*border: 1px solid #ccc; /* add a border to the text box */
	/*border-radius: 4px; /* add some border-radius to the text box */
	text-align: right;
}
#Sink_SSID_Text_Box {
	width: 100%; /* make the text box fill the width of its container */
	/*border: 1px solid #ccc; /* add a border to the text box */
	/*border-radius: 4px; /* add some border-radius to the text box */
	text-align: right;
}

#Sink_SSID_Submit_Button {
	background-color: #ccc; /* set the background color of the button */
	color: black; /* set the color of the button text to white */
	width: 60px;
	height: 34px;
	text-align: center; /* center the button text */
	text-decoration: none; /* remove the underline from the button text */
	display: inline-block; /* set the button to display as an inline block */
	font-size: auto; /* set the font size of the button text */
	margin: 0px 0px; /* add some margin to the button */
	cursor: pointer; /* set the cursor to a pointer when hovering over the button */
	transition-duration: 0.4s; /* add a transition effect to the button */
	box-shadow: 2px 2px 2px 2px  #666; /* add a box-shadow to the button when pressed */
	border-radius: 34px;
}

/* Buttons */
#Sink_SSID_Submit_Button:hover {
	background-color: yellow; /* set the background color of the button when hovering */
}

#Sink_SSID_Submit_Button:active {
	background-color: #2196F3; /* set the background color of the button when pressed */
	transform: scale(0.98);
	box-shadow: 0 0px #666; /* add a box-shadow to the button when pressed */
}	

#Source_SSID_Submit_Button {
	background-color: #ccc; /* set the background color of the button */
	color: black; /* set the color of the button text to white */
	width: 60px;
	height: 34px;
	text-align: center; /* center the button text */
	text-decoration: none; /* remove the underline from the button text */
	display: inline-block; /* set the button to display as an inline block */
	font-size: auto; /* set the font size of the button text */
	margin: 0px 0px; /* add some margin to the button */
	cursor: pointer; /* set the cursor to a pointer when hovering over the button */
	transition-duration: 0.4s; /* add a transition effect to the button */
	box-shadow: 2px 2px 2px 2px  #666; /* add a box-shadow to the button when pressed */
	border-radius: 34px;
}

#Source_SSID_Submit_Button:hover {
	background-color: yellow; /* set the background color of the button when hovering */
}

#Source_SSID_Submit_Button:active {
	background-color: #2196F3; /* set the background color of the button when pressed */
	transform: scale(0.98);
	box-shadow: 0 0px #666; /* add a box-shadow to the button when pressed */
}


/*sliders*/
.widget_slider{
	box-sizing: border-box;
	width: 100%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.Round {
  border-radius: 34px;
}

.slider.Round:before {
  border-radius: 50%;
}

/*Toggle Switches*/
.widget_Toggle_Switch {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.widget_Toggle_Switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}


/* Radio Button Widget */

.widget_Radio_Button {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	width: 100px;
	height: auto 100px;
}

.settingGroup_Horrizontal_Grid_Radio_Button {
    box-sizing: border-box;
    width: 100%;
    align-content: center;
    vertical-align: middle;
    display: grid;
    grid-template-columns: auto auto auto; /* Adjust the number of tabs as needed */
}

.widget_Radio_Button label {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px 5px 0 0; /* Rounded corners for the top */
    margin: 5px;
    background-color: #f1f1f1; /* Background color for the inactive tabs */
    color: #333; /* Text color for the inactive tabs */
}

.widget_Radio_Button input[type="radio"]:checked + label {
    background-color: #3498db;
    color: #fff;
}

.settingGroup_Horrizontal_Grid_Radio_Button {
    box-sizing: border-box;
    width: 100%;
    align-content: center;
    vertical-align: middle;
    display: grid;
    grid-template-columns: auto auto; /* Adjust the number of tabs as needed */
}

.widget_Radio_Button input[type="radio"] {
    display: none; /* Hide the actual radio buttons */
}

.widget_Radio_Button label {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px 5px 0 0; /* Rounded corners for the top */
    margin: 5px;
    background-color: #f1f1f1; /* Background color for the inactive tabs */
    color: #333; /* Text color for the inactive tabs */
}

.widget_Radio_Button input[type="radio"]:checked + label {
    background-color: #3498db;
    color: #fff;
}

.radio-button-group {
    display: grid;
	padding: 10px;
}

.radio-button-group label {
    display: flex;
    align-items: center;
	justify-content: right;
    cursor: pointer;
    font-size: 16px;
}

.radio-button-group img {
    align-items: right;
    cursor: pointer;
    font-size: 16px;
	justify-content: right;
}

/* Hide default radio button */
.radio-button-group input[type="radio"] {
    display: none;
}

/* Create custom radio button */
.radio-button-group .custom-radio {
    width: 18px;
    height: 18px;
    border: 2px solid #3498db;
    border-radius: 50%;
    position: relative;
    transition: background 0.3s;
}

/* Inner circle when checked */
.radio-button-group input[type="radio"]:checked + .custom-radio::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #3498db;
    border-radius: 50%; /* Changed to 50% for a perfect circle */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Focus Styles */
.radio-button-group input[type="radio"]:focus + .custom-radio {
    outline: 2px solid #3498db;
    outline-offset: 2px; /* Optional: creates space around the outline */
}

/* Submit button */
.submit-btn {
	display: block;
	width: 100%;
	background-color: #3498db;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.submit-btn:hover {
	background-color: #2980b9;
}

#deviceList {
	overflow-y: scroll;
	max-height: 300px;
	min-height: 300px;
	border: 1px solid #f0f0f0;
	width: 100%;
	font-family: Arial, sans-serif;
}

.device-item {
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}
.device-item:hover {
	background-color: #f0f0f0;
}
